*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
main{
  margin-top: 20px;
}


/*section1*/
.section1{
  display: grid;
  grid-template-rows: 100px 1fr;
}
.section1-content {
  display: flex;
  flex-direction: row; /* Makes them line up side-by-side */
  justify-content: center;
  align-items: center;
  gap: 6rem; /* Optional spacing */
  text-align: center;
}
/* .section1-content > div {
  border: 2px dashed red;
} */
.profile img {
  width: 330px;
  height: auto;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}


.section1-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1-text h1{
  font-size: 4rem;
  margin-bottom: 1rem;
 font-weight: bold;
}
.section1-text p{
  color: rgb(139, 139, 139);
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}
.downloadBtn{
  margin-right: 1rem;
  padding: 0.9rem 1.6rem;
  background-color: rgb(45, 135, 143);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 20px;
}
.downloadBtn span{
  margin-left: 0.5rem;
  color:rgb(57, 212, 226) ;
}
.whatBtn{
  padding: 0.9rem 1.6rem;
  background-color: rgb(152, 91, 173);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 20px;
}


/*section3*/
.section3{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
div img{
  width: 200px;
  border-radius: 8px;
}


/*section4*/
.section4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  margin: auto;
  max-width: 390px;
  margin-top: 2rem;

  margin-bottom: 2rem;
}
.section4 p{
  color: rgb(139, 139, 139);
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}
#section4-head{
 color: rgb(45, 135, 143);
  font-weight: 550;
}
.section4 h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

/*section5*/
.section6{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  gap: 2rem;
 
  margin: auto;
  padding: 20px 50px;
}