@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
  --Green1 : hsl(158, 36%, 37%);
  --Green : hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  --fw-reegular:500;
  --fw-bold:700;

  --ff-accent:'fraunces', serif;
  --ff-base:'montserrat', sans-serif;
}


/* 1. Use a more-intuitive box-sizing model */
/* Set box-sizing to border-box for all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.7;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1,h2,h3{
  line-height: 1;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}



/* general styling */

body{
  font-family: var(--ff-base);
  font-weight: var(--fw-reegular);
  color: var(--grey);
  font-size: 0.875rem; /* 14px */
  background-color: var(--cream);
  
  /*for this project*/
  display: grid;
  place-content: center;
  margin: 1rem;
  min-height: 100vh;
}

/*utilities*/
.flex-group{
  display:flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
/* Hides elements visually but keeps them accessible for screen readers */
.visually-hidden:not(:focus):not(:active){
  clip:rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*product styles*/
.product{
  --content-padding:2rem;
  --content-spacing: 1rem;
display: grid;

  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 600px;
}
/* For screens 600px and up, use a two-column layout */
@media (min-width: 600px) {
  .product{
    grid-template-columns: 1fr 1fr;
    /* max-width: 600px;
    height: 430px; */
  }
  
}



/* === CONTENT SECTION INSIDE PRODUCT CARD === */
.product-content{
  padding: var(--content-padding);
  /* border: 3px solid red; */
  display: grid;
  gap:var(--content-spacing);
}
/* Category text (e.g. "Perfume") */
.product-category{
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--grey);
  font-size: 0.825rem;
}
/* Product title (e.g. "Gabrielle Essence...") */
.product-title{
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--black);
}
/* Current price styling */
.product-price{
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--Green1);

}

/*button*/
.button{
cursor: pointer;
padding: 0.5rem 1.5rem;
text-decoration: none;
display: inline-flex;
justify-content: center;
align-items: center;
border: 0;
gap: 0.75rem;
background-color: var(--Green1);
color: var(--white);
font-size: 0.925rem; /* 15px */
border-radius: 0.5rem;
}

.button:is(:focus, :hover) {
  background-color: var(--Green);
}
/* Insert cart icon into the button using a pseudo-element */
.button[data-icon="shopping-cart"]::before{
content:"";
background-image: url("./images/icon-cart.svg");
width: 15px;
height: 16px;

}





