@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  --White: hsl(0, 0%, 100%);

 ---Weights: 500, 700;
 --Font-size: 13px;
}

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
 

  font-family: Manrope, sans-serif;
  font-size: var(--Font-size);
  color: var(--Grayish-Blue);
  font-weight: 500;
}
body{
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  background-color: var(--White);
  border-radius: 10px;
  /* box-shadow: 0px 15px 20px rgba(0,0,0,0.2); */
  width: 680px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

 
}
 @media (min-width: 600px) {
  .card {
    /* display: flex;
    flex-direction: row;
    gap: 0; */
    
    display: grid;
    grid-template-columns: 260px 400px;
    gap: 0;
   
 
  }
 
.card .picture{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position:left ;
}



 
 } 


 
/*Here learnt that you must give the div height and width before giving the img height and width*/
.card .picture{
  width: 100%;
  height: 200px;
  /* background-color: rgb(57, 35, 4); */
 
}
/*you can control the side of img i want to see,using  object-position  and also the size*/
.picture img {
  width: 100%;
  height: 100%  ; 
  object-fit: cover;
 object-position: left; 

}

.content{
  padding: 18px 40px;
}
.text-content h1{
  font-size: 18px;
  color: var(--Very-Dark-Grayish-Blue);
  font-weight:900;
  padding-bottom: 10px;
  
}
.text-content p{
  line-height: 1.5;
  padding-bottom: 18px;
  /* font-weight: 504; */
}


.author{
visibility: hidden;
  display: flex;
  justify-content: space-between; 
  /* background-color: wheat; */
  width: 100%;
  /* padding: 0px 40px 30px 40px; */
  align-items: center;
   /* padding-bottom: 25px; */

}
.author-leftcontent{
  position: relative;
}

.author-leftcontent button{
  background-color: var(--Light-Grayish-Blue);
  padding: 10px;
  border-radius: 100%;
  border:none;
  cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}
.author-leftcontent button img{
 
   width:16px;
  height:16px;
 
}
.author .author-rightcontent img{
  width:45px;
  height:45px;
  border-radius: 100%;
}

.author .author-rightcontent{
  display: flex;
  align-items: center;
  gap: 18px;
}
 .author-info .author-name{
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: bolder;
}


.pop-up{
  position: absolute;
  background-color: var(--Very-Dark-Grayish-Blue);
  display: flex;
  align-items: center;
  flex-direction:row;
  gap: 17px;
  padding: 12px 34px;
  border-radius:10px;
 top: -60px;
  right: -100px;
  z-index: 100;

    /* visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out; */
}
.social-icons{
  display: flex;
  gap: 15px;
  align-items: center;
}
.social-icons img{
  width:18px;
  height:18px;
  cursor: pointer;
}
.pop-up p{
  font-size: 13px;
  letter-spacing: 4px;
  font-weight: 400;
}


.authour-mobile{
  background-color: var(--Very-Dark-Grayish-Blue);
  width: 100%;
  display: flex;
  gap: 106px;
  align-items: center;
  padding: 25px 10px;
}
.rightcont{
 display: flex;
 gap: 30px;
}
.rightcont p{
 font-size: 20px;
}
.rightcont .social-icons img{
  width: 24px;
  height: 24px;
}
.rightcont button{
  background-color: var(--Light-Grayish-Blue);
  padding: 10px;
  border-radius: 100%;
  border:none;
  cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;

}


