:root {
  --Purple-50: hsl(260, 100%, 95%);
--Purple-300: hsl(264, 82%, 80%);
--Purple-500: hsl(263, 55%, 52%);

--White: hsl(0, 0%, 100%);
--Grey-100: hsl(214, 17%, 92%);
--Grey-200: hsl(0, 0%, 81%);
--Grey-400: hsl(224, 10%, 45%);
--Grey-500: hsl(217, 19%, 35%);
--Dark-blue: hsl(219, 29%, 14%);
--Black: hsl(0, 0%, 7%);

  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --fw-400: 500;
  --fw-700: 600;

  --fs-300: 0.6875rem;
  --fs-400: 0.9125rem;
  --fs-500: 1.25rem;
}
body{
  font-family: var(--ff-primary);
  background-color: var(--White);
  color: var(--Grey-100);
  font-size: var(--fs-300);
   margin: 0px;
   box-sizing: border-box;
}
p{
  margin: 2px;
}


/*background color*/
.Purple-500{
  background-color: var(--Purple-500);
}
.Grey-500{
  background-color: var(--Grey-500);
  
}
.White{
  background-color: var(--White);
}
.Dark-blue{
  background-color: var(--Dark-blue);
}


/* text color for the white background testimonials*/
#Grey-500-text{  /*the bolder for whites is different*/
  color: var(--Grey-500);
}
.Grey-400{ /*the flex text are different*/
  color: var(--Grey-400);
}
/* for all the p-bolds*/
.bolder-text{
color: var(--White);
font-weight: var(--fw-700);
font-size: var(--fs-500);
margin-bottom: 10px;
}
/*for all the h2*/
h2{
  font-weight: var(--fw-700);
  font-size: var(--fs-400);
 margin: 0;
 
}

.flex{
  display: flex;
  gap: 10px;
 align-items: center;
 margin-bottom: 12px;
}
img{
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.testimonial{
  padding: 20px 20px;
}


